
Archive/Interesting Width.docx

Archive/MilestoneWidth1.1.py

Archive/milestonewidth2.1.py

Archive/milestonewidth2.2.py

Archive/minimizefunction.py

Archive/NewWidthHalim1.1.py

Archive/Potentially Working /milestone2.3.py

Archive/vacuumwidth1.1.py
